{% extends 'layout.html' %}


{% block content %}

<div class="get_form">
<div class="empty_block"></div>

{% for cat, msg in get_flashed_messages(True) %}

    <div class="flash {{ cat }}">{{ msg|safe }}</div>

{% endfor %}

<form action="{{ url_for('delete_data') }}" method="post" class="delete_form">
    <input type="text" name="word" class="word_input" placeholder="Введите слово для удаления" required
           pattern="[a-zA-Z .!`?]+$"><br>
    <input type="submit" value="Удалить" class="button button_delete">

</form>

</div>

{% endblock %}