<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title  }}</title>
</head>
<body>
<div class="wrap"> 
    <div class="header">
        <h1 class="logo_h1">My English coach</h1>
        <div class="menu">
            <a href="/"><p>Главная</p></a>
            <a href="add_page"><p>Добавить</p></a>
            <a href="update_page"><p>Обновить</p></a>
            <a href="delete_page"><p>Удалить</p></a>
            <a href="show"><p>Показать</p></a>
        </div>   
    </div>

    <div class="main">
   
    {% block content %}

    {% endblock %}


    </div>

    <footer class="footer">Все права защищенны<br>
        Ханн Солш
    </footer>

</div>
</body>
</html> 
